html,
body {
    font-family: "Geometria";
    margin: 0;
    padding: 0;
    position: relative;  
    height: 100%;
    font-size: 18px;
    background: #F3F3F3;
    color: #606060;
}

ul { padding: 0;
     margin: 0; 
}

ul li { 
    list-style: none; 
}

p { 
    padding: 0; margin: 0; 
}

a { 
    text-decoration: none;
    color: #707070;
}

h1, h2, h3, h4, h5, h6 { margin-bottom: 0; margin-top: 0; font-weight: normal; }

section {
    position: relative;
    height: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

.leftnav {
    background-color: #fff;
    position: fixed;
    width: 370px;
    height: 100%;
    left: -370px;
    top: 0px;
}

.leftnav__content{
    opacity: 0;
    position: absolute;
    left: 100px;
    top: 100px;
}

.logo-link{
    display: flex;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 166px;
    height: 46px;
    border: 2px solid #62BA71;
    border-radius: 42px;
    background-color: inherit;
    text-decoration: none; 
    text-transform: uppercase;
    color: #62BA71;
}

.button__left{
    margin-top: 100px;
}

.contacts-menu{
    margin-top: 150px;
}

.contacts-menu__item:not(:first-child){
    margin-top: 20px;
}

.content {
    float: right;
    width: calc(100% - 370px);
    height: 100vh;
}

.hero {
    align-items: center;
    justify-content: center;
}

.container-hero {
    display: flex;
    height: 589px;
}

.container-left {
    width: 580px;
    display: flex;
    align-items: center;
}

.container__title {
    opacity: 0;
    position: absolute;
    font-weight: 300;
    line-height: 23px;
    text-transform: uppercase;
}

.container__title_left{
    left: 80px;
}

.container__title_right{
    left: 300px;
}

.item{
    opacity: 0;
    position: absolute;
    left: 255px;
}

.container-right{
    opacity: 0;
    display: flex;
    flex-direction: column;
    width: 607px;
}

.title {
    margin: 43px 0 42px;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #424242;
}

.menu__list {
    display: flex;
}

.menu__item {
    display: flex;
    align-items: flex-end;
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
}

.menu__item-line{
    padding-right: 10px;
}

.description{
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
    margin-top: 40px;
    width: 325px;
}

.button__hero{
    background-color: #62BA71;
    margin-top: 40px;
    color: #fff;
}