.menu{
    background-image: url(/section_menu/bg.jpg);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
}

.menu__content{
    height: 100%;
    z-index: 1;
    position: absolute;
    right: 0;
}

.menu__title{
    color: #fff;
    top: rem(110px);
    position: absolute;
    left: rem(110px);
    @include tablets{
        top: 60px; 
        left: 60px;
    }
}

.menu__list{
    z-index: 1;
    position: absolute;
    right: 0;
    display: flex;
    height: 100%;
    justify-content: flex-end;
    @include phones {
        width: 100%;
    }
    .active{
    @include phones {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        }
        .menu__subtitle{
            color:$yellow;
        }
    }
}

.menu__item{
    background-position:center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
}



.menu__action{
    background-size: cover;
    display: flex;
    justify-content: center;
    width: rem(80px);
    height: 100%;
    position: relative;
    @include phones {
        width: rem(80px);
    }
}

.menu__action::before{
    content: "";
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(30, 30, 30, 0.7);
    position: absolute;
    top: 0;
    left: 0;
}

.menu__subtitle{
    font-family: 'Gagalin';
    color: #fff;
    font-size: rem(40px);
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    padding-top: rem(20px);
}

.menu__accordeon{
    overflow: hidden;
    width: 0;
    transition: .5s;
}

.menu__accordeon-wrap{
    padding: rem(50px) rem(40px) 0;
    align-items: center;
    background-color: rgba($color: #202020, $alpha: 0.9);
    min-width: 540px;
    @include ubuntu($style: light);
    line-height: rem(24px);
    height: 100%;
    @include phones {
        width: 100%;
    }
}

.menu__accordeon-text{
    color: #fff;
}