.team{
    display: flex;
    justify-content: flex-end;
    background-image: url(/Project3/section_team/bg.jpg);
    background-position: center;
    background-size: cover;
}

.team__right{
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: rgba(49, 52, 54, .92);
    height: inherit;
    justify-content: flex-start;
    position: absolute;
    padding: rem(115px) 0 0 rem(100px);
    @include tablets{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
}

.team__wrap{
    @include tablets{
        text-align: center;
    }
}

.team__title{
    color: $yellow;
    width: rem(345px);
    margin-bottom: 26px;
}

.accordeon__list{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: rem(345px);
}

.accordeon__item{
    margin-bottom: 20px;
}

.accordeon__label{
    height: 0;
    overflow: hidden;
    transition: height .5s;
}

.accordeon__down{
    display: flex;
    align-items: center;
    &:before{
        content: "";
        border: rem(6px) solid transparent;
        border-top: rem(6px) solid #f9b43b;
        margin-right: rem(10px);
        transform: rotate(-180deg);
        transition: .5s;
    }
    @include tablets{
        display: inline-flex;
    }
}

.subtitle{
    font-family: 'Gagalin';
    color: #fff;
    font-size: rem(14px);
    margin-bottom: rem(10px);
    @include tablets{
        font-size: rem(30px);
    }
    @include phones{
        font-size: rem(20px);
    }
}

.accordeon__content{
    padding-bottom: rem(20px);
}

.teammate{
    display: flex;
    @include tablets{
        flex-direction: column;
    }
}

.teammate__icon-img{
    border-radius: 50%;
    width: rem(100px);
    height: rem(100px);
}

.teammate__info{
    margin-left: rem(20px);
    @include tablets{
        margin-left: 0;
    }
}

.teammate__title{
    font-family: 'Ubuntu';
    color: #fff;
    font-size: rem(14px);
    font-weight: bold;
    margin-bottom: rem(10px);
}

.teammate__desc{
    color: #fff;
    font-family: 'Ubuntu';
    font-size: rem(14px);
    font-weight: 300;
    line-height: rem(24px);
    @include phones{
        padding: 0 2%;
    }
}
